* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    margin: 20px 0px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    color: #c5a787;
}

.h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    color: #c5a787;
    margin-left: 30px;
}

header{
    position: fixed;
    background-color: #63402c;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.sub-ld{
    display: none;
}

.nav1 ul li:hover .sub-ld{
    display: block;
    position:absolute;
    background: #B0A695;
    margin-top: 15px;
    margin-left: -15px;
    text-decoration: none;
}

.nav1 ul li:hover .sub-ld ul{
    display: block;
    margin: 10px;
}
.nav1 ul li:hover .sub-ld ul li{
    width: 180px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.nav1 ul li:hover .sub-ld ul li:last-child{
    border-bottom: none;
}

.nav1 ul li:hover .sub-ld ul li a:hover{
     color: black;
}

.nav1 ul li:hover .sub-ld ul li a{
    text-decoration: none;
    color: white;
}


.btn{
    height: 50px;
    width: auto;
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    border: 1;
    padding: 0px 20px;
    margin-right: 50px;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color:#F3EEEA;
    cursor: pointer;
    color: black;
    transition: background 0.5s, transform 0.5s;
}

main {
    background: url(https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.15752-9/415076626_2098625730502914_2122631881212088911_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeESp4tgnZYadyUDUYmogyFdZIDVsRWZwvpkgNWxFZnC-rQ9dteP6o8CZI0ZkCPZTThrgCxQWlfukyaPdWcUtOPB&_nc_ohc=vgBtw1nL9AgAX8pQTlR&_nc_oc=AQlSFmYaaEc2JgYzSkSLOPk8VeEpCCB9jS8Ihyhex0Sp6w5uAkEHS_T9QHaj8qFyRjY&_nc_ht=scontent.fcrk1-3.fna&oh=03_AdSWTF-V4T7wMAv_NC-oyaZCvx_gwWtGJXbjTCZ1W0Bx4g&oe=65C5EFAD)
    no-repeat center center / cover;
    width: 100vw;
    height: 1300px;
    margin-top: 0px;
}

#home, .nav1 ul li:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

body{
    overflow-x: hidden;
}

#me{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    color: #B19470;
}

.first-container,
.sec-container,
.third-container,
.fourth-container,
.fifth-container{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}

#about{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    color: #B19470;
}

div #me{
    margin-top: 170px;
}

h1{
    margin-top: 100px;
    margin-left: 100px;
}

main p {
    margin-top: 10px;
    margin-left: 100px;
}

.port{
    color: #B0A695;
    margin-top: 30px;
    margin-left: 100px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

.blank_container{
    background-color: #F3EEEA;
    width: 100vw;
    height: 200px;
}

.outside_container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    height: 40vh;
    background-color: #776B5D;
}

.outside_container h6{
    text-decoration: underline;
    color: #c5a787;
    padding-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.bg{
    background-color: #F3EEEA;
}

.pic_container{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: row;
    width: auto;
}

.pic_container img{
    height: 300px;
    width: 500px;
    margin-top: 100px;
    border-radius: 10px;
}


.font{
    justify-content: center;
    gap: 490px;
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.few{
    font-family: 'Libre Baskerville', serif;
    margin: auto;
    padding-left: 40px;
    font-size: 40px;
    color: #F3EEEA;
    width: 1000px;
}

.inside_container{
    margin: auto;
    font-family: 'Libre Baskerville', serif;  
    font-size: 15px;
    color: #F3EEEA;
}

.lo{
    justify-content: center;
    gap: 130px;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 20px;
    height: 270px;
    color: #63402c;
}

.about_me{
    background-color: #776B5D;
    width: 100%;
    padding: 100px 0px;
}

.about img{
    height: auto;
    width: 300px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h2{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about-text span{
    color: #001524;
}

.about-text h5{
    color: #F3EEEA;
    letter-spacing: 2px;
    font-size: 35px;
    margin-bottom: 25px;
    /* text-transform: capitalize; */
    font-weight: normal;
}

.about-text p{
    color: #B0A695;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 60px;
    font-size: 20px;
}

.btn2{
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #B0A695;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 10px;;
    text-align: center;
    border-radius: 10px;
    transition: .4s;
    font-size: 20px;
}

.main img{
    width: 400px;
    height: 500px;
    border-radius: 50%;
    margin-left: 50px;
}

.btn2:hover{
    background-color: transparent;
    border: 2px solid #B0A695;
    cursor: pointer;
}

#services{
    color: black;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 0;
}

.services{
    height: 1000px;
}

.sub-title{
    text-align: center;
    font-size: 80px;
    padding-bottom: 70px;
    margin-top: 50px;
}

.sub-title span{
    color: #63402c;
}
.container{
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #B2A59B;
    padding: 15px;
    font-size: 20px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px black,
               1px 1px 20px black
}

.services-list div i{
    font-size: 30px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #F3EEEA;
    font-size: 15px;
    /* margin-top: 20px; */
    display: inline-block;
    margin-top: 80px;
}

.services p{
    color: #776B5D;
    font-size: 15pxs;
}

.services h2{
    color: #63402c;
}


.read{
    display: inline-block;
    background: #6C5F5B;
    border-radius: 40px;
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    animation: slideTop is ease forwards;
    animation-delay: 2s;
    padding: 10px 15px;
}
.read:hover{
    background-color: #63402c;
    color: white;
}

.body{
    min-height: 110vh;
    background: #333;
}

.back{
    color: #F3EEEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back h2{
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 50px;
}

/* .row {
    display: grid;
    grid-template-areas: 1fr 1fr 1fr;
} */

.column img {
    height: 370px;
    width:648px;
    /* -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease; */
    transition: all 0.8s ease;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    margin-left: 13px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.rgb{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 17vh;
    background-color: black;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}



